---
function:
  image: 'sdshmctspublic.azurecr.io/vh/booking-queue-subscriber:latest'
  aadIdentityName: vh-aad-identity
  keyVaults:
    vh-infra-core:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - azuread--tenantid
        - applicationinsights--instrumentationkey
        - name: servicebusqueue--connectionstring
          alias: servicebusconnection
    vh-booking-queue:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - azuread--clientid
        - azuread--clientsecret
        - vhservices--internaleventsecret
    vh-bookings-api:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - name: azuread--identifieruri
          alias: vhservices--bookingsapiresourceid
    vh-video-api:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - name: azuread--identifieruri
          alias: vhservices--videoapiresourceid
        - name: azuread--identifieruri
          alias: azuread--videoapiresourceid
    vh-video-web:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - name: azuread--identifieruri
          alias: vhservices--videowebresourceid
    vh-notification-api:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - name: azuread--identifieruri
          alias: vhservices--notificationapiresourceid
    vh-user-api:
      excludeEnvironmentSuffix: false
      resourceGroup: vh-infra-core-{{ .Values.global.environment }}
      usePodIdentity: true
      secrets:
        - name: azuread--identifieruri
          alias: vhservices--userapiresourceid
  environment:
    AZUREAD__AUTHORITY: https://login.microsoftonline.com/
    Logging__LogLevel__Default: debug
    Logging__LogLevel__Microsoft: debug
    Logging__LogLevel__System: debug
    QUEUENAME: booking
    VHSERVICES__BOOKINGSAPIURL: https://vh-bookings-api.{{ .Values.global.environment }}.platform.hmcts.net/
    VHSERVICES__ENABLEVIDEOAPISTUB: false
    VHSERVICES__NOTIFICATIONAPIURL: https://vh-notification-api.{{ .Values.global.environment }}.platform.hmcts.net/
    VHSERVICES__VIDEOAPIURL: https://vh-video-api.{{ .Values.global.environment }}.platform.hmcts.net/
    VHSERVICES__VIDEOWEBURL: https://vh-video-web.{{ .Values.global.environment }}.platform.hmcts.net/
    VHSERVICES__USERAPIURL: https://vh-user-api.{{ .Values.global.environment }}.platform.hmcts.net/
  triggers: []
  triggerPodIdentityProvider: azure
  triggerAuth:
    create: true
    enabled: true
  job:
    parallelism: 1 # [max number of desired pods](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#controlling-parallelism)
    completions: 1 # [desired number of successfully finished pods](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#controlling-parallelism)
    activeDeadlineSeconds: 60 # Specifies the duration in seconds relative to the startTime that the job may be active before the system tries to terminate it; value must be positive integer
    backoffLimit: 3
  pollingInterval: 30
  maxReplicaCount: 2
  successfulJobsHistoryLimit: 20
  failedJobsHistoryLimit: 20